section {
    float: left;
    width: 50%;
    padding-bottom: 200px;
}

aside {
    float: right;
    margin-right: 250px;
    width: 28%;
}

.maincontent {
    padding-top: 120px;
}

#thmap {
    width: 540px;
    height: auto;
    padding-left: 250px;
    padding-top: 50px;
}

#hinttxt1 {
    font-family: 'Kanit';
    font-weight: bold;
    font-size: 30px;
    padding-top: 50px;
}

#hinttxt2 {
    font-family: 'Kanit';
    font-size: 25px;
}