body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Signika', sans-serif;
}

footer {
    display: inline-block;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 150px;
    background-color: #D9D9D9;
    color: black;
    padding-left: 60px;
}

.rectangle-1-3 {
    background-color: #1CA299;
    border-radius: 28px;
    height: 91px;
    left: 180px;
    position: absolute;
    top: 18px;
    width: 83%;
}

.buttonlogo {
    background: none;
    color: inherit;
    border: none;
}

.buttonlogo:hover {
    transform: translateY(2px);
}

.line {
    border-left: 2px solid white;
    height: 95px;
    position: absolute;
    left: 15%;
    margin-left: -3px;
    top: 0;
}

#navlogo {
    width: 160;
    height: 70;
    padding-left: 30px;
    padding-top: 5px;
}

ul {
    display: inline-block;
    overflow: auto;
    padding-bottom: 10px;
}

li {
    list-style-type: none;
    display: inline;
    display: inline-block;
    padding-left: 50px;
}

a {
    font-size: 20px;
    font-family: 'Kanit';
}

li a,
li a:hover,
li a:active {
    color: white;
    text-decoration: none;
}

.navchoice:hover {
    background-color: #2cc3c3;
}

.navchoice-active {
    background-color: #127782;
    padding: 4px 25px;
}

.btn-float-right {
    float: right;
    border: 1px solid white;
    border-radius: 40px;
    background-color: #1CA299;
    color: white;
    font-size: 20px;
    padding: 20px 46px;
    margin-right: 2%;
    margin-top: 0.5%;
    font-family: 'Kanit';
}

.btn-float-right:hover {
    background-color: #127782
}

.btn-float-right:active {
    background-color: #127782;
    transform: translateY(2px);
}

.footcontact {
    text-align: left;
    font-family: 'Kanit';
}

.footlogo {
    position: absolute;
    right: 0;
    margin-top: -40px;
    margin-right: 80px;
    color: black;
}

#regisbutton {
    text-decoration: none;
    color: white;
}


/* For Tablet View */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .rectangle-1-3 {
        width: 400px;
        height: 400px;
        background-color: orange;
        color: black;
    }
}


/* For Mobile Portrait View */

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .rectangle-1-3 {
        width: 200px;
        height: 200px;
        background-color: red;
        color: #fff;
    }
}


/* For Mobile Landscape View */

@media screen and (max-device-width: 640px) and (orientation: landscape) {
    .rectangle-1-3 {
        width: 400px;
        height: 200px;
        background-color: cyan;
        color: black;
    }
}


/* For Mobile Phones Portrait or Landscape View */

@media screen and (max-device-width: 640px) {
    .rectangle-1-3 {
        width: 400px;
        height: 200px;
        background-color: chartreuse;
        color: black;
    }
}